.card-body{
    height: 80vh;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.card-body > h1 {
    margin-bottom: 2rem;
}

.conditional{
    text-align: center;
}